.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 1%;
  margin-bottom: 0%;
}
.App-reacttext{
  margin-top: 1%;
  margin-bottom: 0%;
}
.App-header {
  position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(./a350.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}
.App-desc{
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:olivedrab;
  width: 165%;
}
.App-title {
  font-size: 6.5em;
  font-family: 'Courier New', Courier, monospace;
  color: brown;
  margin-bottom: 0%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
